# Transformatiion de la structure des données

In [2]:
import pandas as pd

In [10]:
def load_data(sheet_name):
    return pd.read_excel("Datas/base_streamlit_storytellers.xlsx",sheet_name=sheet_name)

data = load_data("chomage")

In [9]:
data.columns

Index([  'Country', 'pays Code',  'Variable',        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005,        2006,
              2007,        2008,        2009,        2010,        2011,
              2012,        2013,        2014,        2015,        2016,
              2017,        2018,        2019,        2020,        2021,
              2022,        2023],
      dtype='object')

In [ ]:
import pandas as pd 
def tab_large_en_long(data,debut_year,fin_year):
    base_panel=pd.melt(data, id_vars=['Country','Variable'], value_vars=[i for i in range(debut_year,fin_year+1,1)], var_name='Year',value_name='valeur')
    base_panel['Year']=base_panel['Year'].astype(int)

    # Convertir `valeur` en numérique et remplacer les erreurs par NaN
    base_panel['valeur'] = pd.to_numeric(base_panel['valeur'], errors='coerce')

    base_panel=base_panel.pivot_table(index=['Country','Year'],columns='Variable', values='valeur').reset_index()
    return base_panel

In [ ]:
tab_large_en_long(data,1990,2023)
base_panel.to_excel("Datas/africa_employment_data.xlsx",index=False)

Variable         Country  Year  Unemployment Rate
0         Afrique du Sud  1998             25.000
1         Afrique du Sud  1999             25.370
2         Afrique du Sud  2000             29.880
3         Afrique du Sud  2001             25.371
4         Afrique du Sud  2002             27.180
..                   ...   ...                ...
450             Éthiopie  1994              3.100
451             Éthiopie  1999              3.714
452             Éthiopie  2005              2.497
453             Éthiopie  2013              2.251
454             Éthiopie  2021              3.935

[455 rows x 3 columns]

In [31]:
base_panel.to_excel("Datas/africa_employment_data.xlsx",index=False)

In [28]:
base_panel.head()

Variable,Country,Year,Chômage (% de la population active) (estimation nationale)
0,Afrique du Sud,1998,25.000
1,Afrique du Sud,1999,25.370
2,Afrique du Sud,2000,29.880
3,Afrique du Sud,2001,25.371
4,Afrique du Sud,2002,27.180

## EMPLOI ET SECTEUR ECONOMIQUE

In [13]:
data = load_data("Secteur_prof_ais")
base_panel=tab_large_en_long(data,2009,2022)

In [17]:
base_panel.to_excel('C:/Users/Hp/Documents/data vsualzato/Streamlit_Storytellers/Employment_Data_Storytellers-main/Streamlit_Storytellers/Datas/emploi_secteur_eco.xlsx',index=False)

In [16]:
base_panel.columns

Index(['Country', 'Year', 'Agriculture, valeur ajoutée (% du PIB)',
       'Emplois dans les services (% du total des emplois)',
       'Emplois dans l’agriculture (% du total des emplois)',
       'Emplois dans l’industrie (% du total des emplois)',
       'Employées, agriculture, femmes (% d’emploi des femmes)',
       'Employées, industrie, femmes (% d’emploi des femmes)',
       'Employées, services, femmes (% d’emploi des femmes)',
       'Employés, agriculture, hommes (% d’emploi des hommes)',
       'Employés, industrie, hommes (% d’emploi des hommes)',
       'Employés, services, hommes (% d’emploi des hommes)',
       'Industrie, valeur ajoutée (% du PIB)',
       'Services, value added (% of GDP)'],
      dtype='object', name='Variable')

In [19]:
df_reshaped=base_panel

In [22]:
year_list = list(df_reshaped.Year.unique())[::-1]
selected_year = 2019

Pays=list(df_reshaped.Country.unique())
selected_pays="Tchad"


df_selected_year = df_reshaped[df_reshaped.Year == selected_year]
df_selected_pays=df_selected_year[df_selected_year.Country==selected_pays]

In [26]:
a=df_selected_pays["Year"]
a

654    2019
Name: Year, dtype: int32

In [28]:
df_selected_pays["Agriculture, valeur ajoutée (% du PIB)"]

654    24.135393
Name: Agriculture, valeur ajoutée (% du PIB), dtype: float64

In [29]:
help(st.metric)

Help on method metric in module streamlit.delta_generator:

metric(label: 'str', value: 'Value', delta: 'Delta' = None, delta_color: 'DeltaColor' = 'normal', help: 'str | None' = None, label_visibility: 'LabelVisibility' = 'visible') -> 'DeltaGenerator' method of streamlit.delta_generator.DeltaGenerator instance
    Display a metric in big bold font, with an optional indicator of how the metric changed.

    Tip: If you want to display a large number, it may be a good idea to
    shorten it using packages like `millify <https://github.com/azaitsev/millify>`_
    or `numerize <https://github.com/davidsa03/numerize>`_. E.g. ``1234`` can be
    displayed as ``1.2k`` using ``st.metric("Short number", millify(1234))``.

    Parameters
    ----------
    label : str
        The header or title for the metric. The label can optionally
        contain GitHub-flavored Markdown of the following types: Bold, Italics,
        Strikethroughs, Inline Code, and Links.

        Unsupported Markdown elements are unwrapped so only their children
        (text contents) render. Display unsupported elements as literal
        characters by backslash-escaping them. E.g.,
        ``"1\. Not an ordered list"``.

        See the ``body`` parameter of |st.markdown|_ for additional,
        supported Markdown directives.

        .. |st.markdown| replace:: ``st.markdown``
        .. _st.markdown: https://docs.streamlit.io/develop/api-reference/text/st.markdown

    value : int, float, str, or None
         Value of the metric. None is rendered as a long dash.

    delta : int, float, str, or None
        Indicator of how the metric changed, rendered with an arrow below
        the metric. If delta is negative (int/float) or starts with a minus
        sign (str), the arrow points down and the text is red; else the
        arrow points up and the text is green. If None (default), no delta
        indicator is shown.

    delta_color : "normal", "inverse", or "off"
         If "normal" (default), the delta indicator is shown as described
         above. If "inverse", it is red when positive and green when
         negative. This is useful when a negative change is considered
         good, e.g. if cost decreased. If "off", delta is  shown in gray
         regardless of its value.

    help : str
        An optional tooltip that gets displayed next to the metric label.

    label_visibility : "visible", "hidden", or "collapsed"
        The visibility of the label. If "hidden", the label doesn't show but there
        is still empty space for it (equivalent to label="").
        If "collapsed", both the label and the space are removed. Default is
        "visible".

    Example
    -------
    >>> import streamlit as st
    >>>
    >>> st.metric(label="Temperature", value="70 °F", delta="1.2 °F")

    .. output::
        https://doc-metric-example1.streamlit.app/
        height: 210px

    ``st.metric`` looks especially nice in combination with ``st.columns``:

    >>> import streamlit as st
    >>>
    >>> col1, col2, col3 = st.columns(3)
    >>> col1.metric("Temperature", "70 °F", "1.2 °F")
    >>> col2.metric("Wind", "9 mph", "-8%")
    >>> col3.metric("Humidity", "86%", "4%")

    .. output::
        https://doc-metric-example2.streamlit.app/
        height: 210px

    The delta indicator color can also be inverted or turned off:

    >>> import streamlit as st
    >>>
    >>> st.metric(label="Gas price", value=4, delta=-0.5, delta_color="inverse")
    >>>
    >>> st.metric(
    ...     label="Active developers", value=123, delta=123, delta_color="off"
    ... )

    .. output::
        https://doc-metric-example3.streamlit.app/
        height: 320px

In [30]:
data = {
    "Genre": ["Hommes", "Femmes"],
    "Taux d'emploi": [75, 65]  # Exemple de taux d'emploi
}

# Conversion en DataFrame
df = pd.DataFrame(data)
df

    Genre  Taux d'emploi
0  Hommes             75
1  Femmes             65

In [31]:
import streamlit as st
import pandas as pd
import altair as alt

# Données (exemple)
data = {
    "Genre": ["Hommes", "Femmes"],
    "Taux d'emploi": [75, 65]  # Exemple de taux d'emploi
}

# Conversion en DataFrame
df = pd.DataFrame(data)

# Titre de l'application
st.title("Comparaison des taux d'emploi")

# Sous-titre
st.subheader("Diagramme à barres comparant le taux d'emploi des hommes et des femmes")

# Création du graphique Altair
chart = alt.Chart(df).mark_bar().encode(
    x=alt.X("Genre:N", title="Genre"),
    y=alt.Y("Taux d'emploi:Q", title="Taux d'emploi (%)"),
    color=alt.Color("Genre:N", scale=alt.Scale(domain=["Hommes", "Femmes"], range=["#1f77b4", "#ff7f0e"])),
    tooltip=["Genre", "Taux d'emploi"]
).properties(
    width=400,
    height=300,
    title="Comparaison des taux d'emploi"
)

# Affichage dans Streamlit
st.altair_chart(chart, use_container_width=True)

2024-12-02 00:08:52.723 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-02 00:08:53.142
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Hp\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-12-02 00:08:53.142 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-02 00:08:53.142 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-02 00:08:53.142 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-02 00:08:53.273 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-02 00:08:53.273 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [32]:
data = pd.DataFrame({
    "Catégorie": ["Agriculture", "Industrie", "Services", "Commerce"],
    "Hommes (%)": [30, 50, 60, 40],
    "Femmes (%)": [25, 30, 55, 35]
})

# Transformation des données pour Altair (long format)
data_melted = data.melt(id_vars=["Catégorie"], 
                        value_vars=["Hommes (%)", "Femmes (%)"], 
                        var_name="Genre", 
                        value_name="Pourcentage")
data_melted

     Catégorie       Genre  Pourcentage
0  Agriculture  Hommes (%)           30
1    Industrie  Hommes (%)           50
2     Services  Hommes (%)           60
3     Commerce  Hommes (%)           40
4  Agriculture  Femmes (%)           25
5    Industrie  Femmes (%)           30
6     Services  Femmes (%)           55
7     Commerce  Femmes (%)           35

In [ ]:

    # Fonction pour récupérer les données de la Banque mondiale#####################################################################
    import requests
    def get_data_from_world_bank(year):
        url = f'http://api.worldbank.org/v2/country/{"/".join(["AFR", "AFR"])}/indicator/SL.TLF.TOTL.ZS?date={year}&format=json'
        
        response = requests.get(url)
        data = response.json()
        
        # Extraire les données du JSON
        if len(data) > 1:
            df = pd.DataFrame(data[1])
            df = df[['country', 'date', 'value']]
            df['value'] = df['value'].round(2)
            return df
        else:
            return None
    data = get_data_from_world_bank(selected_year)
    st.dataframe(data)

In [ ]:
   st.image(dylan,use_column_width=True)
    st.markdown(
        f"""
        ##### AZAPMO TAZO Dylan 
        - 📧 Email:  <student.dylan.tazo@issea-cemac.org>
        - Linkedin:  https://www.linkedin.com/in/dilane-tazo

        ##### MPOLAH SOH Natacha Flaire
        - 📧 Email: <eliassetiao@gmail.com>
        - Linkedin: http://www.linkedin.com/in/flaire-natacha-mpolah-soh-75b324268

        ##### NADJILEM BEGOTO
        - 📧 Email: <jnadjilembegoto@gmail.com> ou <student.begoto.nadjilem@issea-cemac.org>
        - Linkedin: https://www.linkedin.com/in/bégoto-nadjilem-192b8617b

        ##### TEYANBAYE BERTORNGAI Christian
        - 📧 Email: <teyanchrist@gmail.com> ou <student.christian.teyanbaye@issea-cemac.org>
        - Linkedin: https://www.linkedin.com/in/christian-teyanbaye-berto

        ##### TIAO Eliasse
        - 📧 Email: <eliassetiao@gmail.com>
        - Linkedin: https://
        """,
        unsafe_allow_html=True,
    )
    st.markdown('---')