# Transformatiion de la structure des données

In [17]:
import pandas as pd

In [18]:
def load_data():
    return pd.read_excel("Datas/base_streamlit_storytellers.xlsx",sheet_name="chomage")

data = load_data()

In [9]:
data.columns

Index([  'Country', 'pays Code',  'Variable',        1990,        1991,
              1992,        1993,        1994,        1995,        1996,
              1997,        1998,        1999,        2000,        2001,
              2002,        2003,        2004,        2005,        2006,
              2007,        2008,        2009,        2010,        2011,
              2012,        2013,        2014,        2015,        2016,
              2017,        2018,        2019,        2020,        2021,
              2022,        2023],
      dtype='object')

In [29]:
base_panel=pd.melt(data, id_vars=['Country','Variable'], value_vars=[i for i in range(1990,2024,1)], var_name='Year',value_name='valeur')
base_panel['Year']=base_panel['Year'].astype(int)

# Convertir `valeur` en numérique et remplacer les erreurs par NaN
base_panel['valeur'] = pd.to_numeric(base_panel['valeur'], errors='coerce')

base_panel=base_panel.pivot_table(index=['Country','Year'],columns='Variable', values='valeur').reset_index()

In [31]:
base_panel.to_excel("Datas/africa_employment_data.xlsx",index=False)

In [28]:
base_panel.head()

Variable,Country,Year,Chômage (% de la population active) (estimation nationale)
0,Afrique du Sud,1998,25.000
1,Afrique du Sud,1999,25.370
2,Afrique du Sud,2000,29.880
3,Afrique du Sud,2001,25.371
4,Afrique du Sud,2002,27.180